<!DOCTYPE html>
<html ng-app="app">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
	<title>Patients</title>
</head>
<body ng-controller="patientsController">
	<div style="position: fixed; width: 100%" ng-include="'fragments-layouts/nav-bar.htm'"></div>
	<br/>
	<!-- List -->
	<div style="margin-top: 50px;" class="container" data-ng-init="list()">
		<h4>Patients list</h4>
		<table class="table table-striped table-sm table-hover">
			<thead>
				<tr>
					<th>ID</th>
					<th>PATIENT</th>
					<th>TELEFONE</th>
					<th style="text-align: right;"><button class="btn btn-success btn-sm" ng-click="clear()" >+New</button></th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="(key, value) in patients  | orderBy : '-id'">
					<td>{{value.id}}</td>
					<td>{{value.name}}</td>
					<td>{{value.telefone}}</td>
					<td style="text-align: right;">
						<button type="button" class="btn btn-outline-info btn-sm" ng-click="getEdit(value.id)">Edit</button>
						<button class="btn btn-outline-danger btn-sm" ng-click="delete(value.id)">Delete</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div style="width: 100%" ng-show="erro" ng-include="'fragments-layouts/erro-danger.htm'"></div>
	</div>
	<!-- Fim List -->

	<!-- Modal New -->
	<div class="modal fade" id="form" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
	  	<div class="modal-dialog">
		    <div class="modal-content">
		      	<div class="modal-header">
			        <h5 class="modal-title">Pacients</h5>
			        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
			         	<span aria-hidden="true">&times;</span>
			        </button>
			    </div>

			    <div class="modal-body">
		        	<form name="new_patient">
		        		<div class="row">
			        		<div class="form-group col-md-12">
							  	Name<br>
							  	<input type="text" class="form-control" ng-model="name" ng-pattern="'\.{3,100}'"/>
							  	<input type="hidden" ng-model="id" value="" />
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-12">
							  	Address<br>
							  	<input type="text" class="form-control" ng-model="address" ng-pattern="'\.{3,255}'"/>
							</div>
						</div>
						<div class="row">
							<div class="form-group col-md-6">
							  	Telefone<br>
							  	<input type="telefone" class="form-control" ng-model="telefone" ng-pattern="'\.{3,15}'"/>
							</div>
							<div class="form-group col-md-6">
							  	Mobile<br>
							  	<input type="telefone" class="form-control" ng-model="celular" ng-pattern="'\.{3,15}'"/>
							</div>
						</div>
		        	</form>
		        	<div style="width: 100%" ng-show="erro_form" ng-include="'fragments-layouts/erro-danger.htm'"></div>
		      	</div>
		      	<div class="modal-footer">
			        <button type="button" class="btn btn-primary" ng-click="save()">Save</button>
			        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
		      	</div>
		    </div>
	  	</div>
	</div>
	<!-- Fim Modal New -->
	

	<script type="text/javascript" src="js/jquery.min.js"></script>
	<script type="text/javascript" src="js/angular.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/controllers/patients.js"></script>
</body>
</html>